@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: var(--grey900);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--grey800);
  border-radius: 20px;
  padding: 32px;
}

.headshot {
  border-radius: 50%;
  background-image: url("./assets/images/avatar-jessica.jpeg");
  background-size: contain;
  height: 120px;
  width: 120px;
  margin: auto;
}

.content {
  margin: auto;
}

.content h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.content h2 {
  color: var(--green);
  font-size: small;
  display: flex;
  justify-content: center;
}

.content p {
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-top: 22px;
  font-weight: 100;
  font-size: small;
}

.card .links {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

button {
  background-color: var(--grey700);
  text-align: center;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
}

button:hover {
  background-color: var(--green);
  transition: 0.5s ease-out;
}
